
@{
    ViewBag.Title = "易校-XXX学校-机构管理";
}

<div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">机构管理</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">机构管理</li>
        </ul>
    </div>
    <!-- Forms Section-->
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow" x-placement="bottom-end" style="display: none; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 26px, 0px);">
                                @*<a href="#" class="dropdown-item remove"><i class="fa fa-times"></i>关闭</a>*@
                                <a href="#" class="dropdown-item edit"><i class="fa fa-gear"></i>修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">机构信息</h3>
                        </div>
                        <div class="card-body agentinfo">
                            @if (ViewBag.Agents != null && ViewBag.Agents.Count > 0)
                            {
                                <p>@ViewBag.Agents[0].Name</p>
                                <p>@ViewBag.Agents[0].ShortName</p>
                                <p>@ViewBag.Agents[0].Phone</p>
                                <p>@ViewBag.Agents[0].Address</p>
                            }
                            else
                            {
                            <p>在这里填写您所在机构的基础信息.</p>
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">机构名称</label>
                                    <div class="col-sm-9">
                                        <input id="agentname" placeholder="" class="form-control form-control-success">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">机构简称</label>
                                    <div class="col-sm-9">
                                        <input id="agentshortname" placeholder="" class="form-control form-control-success">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">联系电话</label>
                                    <div class="col-sm-9">
                                        <input id="agentphone" placeholder="" class="form-control form-control-warning">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">机构地址</label>
                                    <div class="col-sm-9">
                                        <input id="agentaddress" placeholder="" class="form-control form-control-warning">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <input type="submit" value="确定" class="btn btn-primary addagent">
                                    </div>
                                </div>
                            </form>
                            }
                        </div>
                    </div>
                </div>
                <!-- Horizontal Form-->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow" x-placement="bottom-end" style="display: none; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 26px, 0px);">
                                    @*<a href="#" class="dropdown-item remove"><i class="fa fa-times"></i>关闭</a>*@
                                    <a href="#" class="dropdown-item edit"><i class="fa fa-gear"></i>修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">开设课程</h3>
                        </div>
                        <div class="card-body">
                            <p>在这里填写您开设了哪些培训课程.</p>
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="i-checks col-sm-12">
                                        <input id="checkboxCustom2" type="checkbox" value="" checked="" class="checkbox-template">
                                        <label for="checkboxCustom2" >语文</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="i-checks col-sm-12">
                                        <input id="checkboxCustom2" type="checkbox" value="" checked="" class="checkbox-template">
                                        <label for="checkboxCustom2">数学</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="i-checks col-sm-12">
                                        <input id="checkboxCustom2" type="checkbox" value="" checked="" class="checkbox-template">
                                        <label for="checkboxCustom2">英语</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="i-checks col-sm-12">
                                        <input id="checkboxCustom2" type="checkbox" value="" checked="" class="checkbox-template">
                                        <label for="checkboxCustom2">物理</label>
                                    </div>
                                </div>
                            </form>
                            <br/>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="inlineFormInputGroup" class="sr-only"></label>
                                    <input id="inlineFormInputGroup" type="text" placeholder="" class="mr-3 col-sm-9 form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">添加</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
<script type="text/javascript">
    

    //获取开设课程列表
    $(".addagent").on("click", function () {
        var name = $("#agentname").val();
        var shortname = $("#agentshortname").val();
        var phone = $("#agentphone").val();
        var address = $("#agentaddress").val();

        $.post("addagent",
            { name: name, shortname: shortname, phone: phone, address: address },
            function (data) {
                if (data.code != "0") {
                    dialogAlert(data.message);
                }
                else {
                    dialogAlertNoModal("添加成功！")
                    var html = "<p>" + name + "</p>" + "<p>" + shortname + "</p>" + "<p>" + phone + "</p>" + "<p>" + address + "</p>";
                    $(".agentinfo").html = html;
                }
            })
    })
    
    
</script>

