@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>易校-登录</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/Content/school/fontastic.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/Content/school/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/Content/school/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/Scripts/artDialog/css/ui-dialog.css" rel="stylesheet" />
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>易校</h1>
                                </div>
                                <p>彻底解放您的Excel和记帐本，让一切变的简单。</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form method="post" class="form-validate">
                                    <div class="form-group">
                                        <input id="login-username" type="text" name="loginUsername" required class="input-material">
                                        <label id="tip_username" for="login-username" class="label-material">用户名</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="login-password" type="password" name="loginPassword" required class="input-material">
                                        <label id="tip_password" for="login-password" class="label-material">密码</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="i-checks">
                                            <input id="AutoLogin" type="checkbox" value="" checked="" class="checkbox-template">
                                            <label for="AutoLogin">下次自动登录</label>
                                        </div>
                                        @*<a href="#" class="forgot-pass">忘记密码?</a>*@
                                    </div>
                                    
                                    <div class="form-group">
                                        <a id="login" href="#" class="btn btn-primary col-sm-3">登录</a>
                                        <label id="tip_1" class="invalid-feedback col-sm-8" style="display:none;"></label>
                                    </div>
                                </form>
                                <small>没有账号? </small><a href="regedit" class="signup">注册一个</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
<script src="/Scripts/jquery-3.3.1.min.js"></script>
<script src="/Scripts/artDialog/dialog.js"></script>
<script src="/Scripts/common.js"></script>
<script type="text/javascript">

    //交互
    $("#login-username").on("focus", function () {
        $("#tip_username").html("");
    }).on("blur", function () {
        if (trim($(this).val()) == "") {
            $("#tip_username").html("用户名");
        }
        else {
            CheckUserName();
        }
    })

    $("#login-password").on("focus", function () {
        $("#tip_password").html("");
    }).on("blur", function () {
        if (trim($(this).val()) == "") {
            $("#tip_password").html("密码");
        }
        else {
            CheckPsd();
        }
        })

    //用户名检查
    var CheckUserName = function () {
        var username = trim($("#login-username").val());
        if (username == "") {
            $("#tip_1").hide();
            return false;
        }
        if (!isUserName(username)) {
            $("#tip_1").html("用户名由5-16位字母/数字/下划线组成！")
            $("#tip_1").show();
            return false;
        }
        $("#tip_1").hide();
        return true;
        
    }

    //密码检查
    var CheckPsd = function () {
        var psd = trim($("#login-password").val());
        if (psd == "") {
            $("#tip_1").hide();
            return false;
        }
        if (!isPassword(psd)) {
            $("#tip_1").html("密码由6-18位字母/数字/下划线组成！")
            $("#tip_1").show();
            return false;
        }
        $("#tip_1").hide();
        return true;
    }

    //登录
    $("#login").on("click", function () {
        var username = trim($("#login-username").val());
        var psd = trim($("#login-password").val());
        var autologin = $("#AutoLogin").prop("checked") ? "1" : "0";

        $.post("LoginUser",
            { userName: username, password: psd, isAutoLogin: autologin },
            function (data) {
                if (data.code != "0") {
                    dialogAlert("用户名或者密码错误！");
                }
                else {
                    window.location.href = "/school";
                }
            })
    })
</script>
