@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>易校-注册</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/Content/school/fontastic.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/Content/school/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/Content/school/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>易校</h1>
                                </div>
                                <p>彻底解放您的Excel和记帐本，让一切变的简单。</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form method="post" class="form-validate">
                                    <div class="form-group">
                                        <input id="login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">
                                        <label for="login-username" class="label-material">用户名</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                                        <label for="login-password" class="label-material">密码</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                                        <label for="login-password" class="label-material">重复密码</label>
                                    </div>
                                    
                                    <a id="login" href="/school" class="btn btn-primary">注册</a>
                                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                </form>
                                <small>已有密码? </small><a href="regedit" class="login">登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

<script src="/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $("#login").on(click, function () {
        var uname = $("#login-username").val();
        var psd = $("#login-password").val();
        $.post("RegeditUser",
            { userName: uname, passWord: psd },
            function (data) {


        })
    })
</script>